@import "tailwindcss";

:root {
  --background: #f6f4ee;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-arvo);
  --font-ui: var(--font-karla);
  --font-sans: var(--font-karla);
}

body {
  background: var(--background);
  color: var(--foreground);
}
